# Deployment order for tables (topological sort).
# Rename this file to _order.txt to activate.
#
# List one filename per line, in the order they should
# be deployed. Dependencies must come before dependants.
# Blank lines and lines starting with '#' are ignored.
#
# Example:
# {{STD_DATABASE}}.Country.tbl
# {{STD_DATABASE}}.State.tbl
# {{STD_DATABASE}}.Customer.tbl
# {{STD_DATABASE}}.Account.tbl
